@font-face {
  font-display: block;
  font-family: "Jost Italic";
  src: url(../fonts/Jost-Italic-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-display: block;
  font-family: "Jost";
  src: url(../fonts/Jost-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-display: block;
  font-family: "Noto Sans Symbols 2";
  src: url(../fonts/NotoSansSymbols2-Regular.ttf) format("truetype");
}
@font-face {
  font-display: block;
  font-family: "Roboto Slab";
  src: url(../fonts/RobotoSlab-VariableFont_wght.ttf) format("truetype");
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.css");

// Partials
@import "partials/variables";
@import "partials/utilities";
@import "partials/placeholders";

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-serif);
  color: var(--color-dark);
  background-color: var(--color-light);
  height: 100dvh;
  margin: 0;
}

.h0, h1, h2, h3, h4, h6 {
  font-family: var(--font-family-sans-serif);
}

.h0, h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: var(--color-primary);
  }
}

.glyph {
  font-family: 'Noto Sans Symbols 2';
}
