h1 {
  font-weight: 500;
  
  &:hover {
    color: $body-color;
    cursor: default;
    .glyph {
      color: $primary;
    }
  }

  a {
    text-decoration: none;
  }
}

h1, h2, h4, h5, h6 {
  font-family: $font-family-sans-serif;
}

a {
  color: $body-color;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
  &.router-link-active.page-link {
    text-decoration: overline;
  }
}

p {
  font-size: $font-size-lg;
}

.glyph {
  font-family: 'Noto Sans Symbols 2';
}

.caption {
  font-size: $font-size-sm;
  font-style: italic;
  text-align: right;
}

p:first-of-type:first-letter {
  color: $body-color;
  float: left;
  font-family: Jost, Arial, Helvetica, sans-serif;
  font-size: 75px;
  line-height: 50px;
  padding-top: 4px;
  padding-right: 4px;
}