h1 {
  font-weight: 500;
  font-family: Jost, Arial, Helvetica, sans-serif;

  a {
    text-decoration: none;

    &:hover {
      color: $body-color;
      .glyph {
        color: $primary;
      }
    }
  }
}

a {
  color: $body-color;
  &:hover {
    color: $primary;
  }
}

p {
  font-size: $font-size-lg;
}

.glyph {
  font-family: 'Noto Sans Symbols 2';
}

.caption {
  font-size: $font-size-sm;
  font-style: italic;
  text-align: right;
}

p:first-of-type:first-letter {
  color: $body-color;
  float: left;
  font-family: Jost, Arial, Helvetica, sans-serif;
  font-size: 75px;
  line-height: 50px;
  padding-top: 4px;
  padding-right: 4px;
}