h1 {
  font-weight: 500;

  a {
    text-decoration: none;

    &:hover {
      color: $body-color;
      .glyph {
        color: $primary;
      }
    }
  }
}

h1, h2, h4, h5, h6 {
  font-family: $font-family-sans-serif;
}

a {
  color: $body-color;
  text-decoration: underline;

  &:hover {
    color: $primary;
  }
  &.router-link-active.page-link {
    text-decoration: overline;
  }
}

.glyph {
  font-family: 'Noto Sans Symbols 2';
}

.caption {
  font-size: $font-size-sm;
  font-style: italic;
  text-align: right;
}

#about, #blog {
  p:first-of-type:first-letter {
    color: $body-color;
    float: left;
    font-family: Jost, Arial, Helvetica, sans-serif;
    font-size: 75px;
    line-height: 50px;
    padding-top: 4px;
    padding-right: 4px;
  }
  p {
    font-size: $font-size-lg;
  }
}